/* index.html */
body{
  font-family: 'Exo 2', sans-serif;
}
.dotted{
  position: absolute;
  z-index: -1;
  top: -150px;
  right:0px;
}
.Navigation-bar{
  position: relative;
  left:0px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  font-size: 15px;
}
.company-logo{
  padding: 30px 20px;
  height: 100%;
}
.logo{
  height: 100%;
  border-radius: 50%;
}
.Display{
  margin: 80px 80px 150px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Display-text-area{
  font-size: 2vw;
  margin-right: 20px;
}
.button{
  padding: 20px;
  font-size: 25px;
  border-radius: 30px;
  background-color:#00BFFF;
  color: white;
  border: none;
  font-family: 'Exo 2', sans-serif;
}
.Display-img{
  padding-left: 50px;
  height: 30vw;
}
.Dis-img{
  border-radius: 20px;
  height: 100%;
}
.landing{
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-text{
  font-size: 2vw;
  width: 50vw;
  margin-right: 35px;
}
.landing-img{
  height: 30vw;
  box-shadow: 10px 10px 10px lightgrey;
}
.land-img{
  height: 100%;
}
.Card{
  font-size: 20px;
  margin:80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Services{
  display:flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  justify-content: center;
}
.price-card{
  border-radius: 15px;
  height: 500px;
  width: 275px;
  box-shadow: 10px 10px 10px lightgrey;
  background-color: white;
}
.card-name{
  font-size: 1vw;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #00BFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}
.name-text{
  margin: 0px 10px;
  text-align: center;
}
.price-area{
  height: 300px;
  display:flex;
  align-items:center;
  justify-content: center;
}
.price{
  font-size: 20px;
  padding: 0px 10px;
  text-align: center;
  align-items: center;
}
.img-area{
  padding-right:  50px;
  height: 30vw;
}
.img{
  height: 100%;
  border-radius: 15px;
}
.Team-section{
  justify-content: center;
  width: 100%;
}
.Team{
  justify-content: space-between;
  display: flex;
  width: 500px;
  margin: 0px auto;
  text-align: center;
}
.mem{
  align-items: center;
}
.t-img{
  border-radius: 50%;
}
.quote{
  margin: 100px auto;
  padding: 50px 0px;
  color: white;
  background-color: #00BFFF;
  text-align: center;
  width:100%;
}
.dotted2{
  position: absolute;
  top:3500px;
  z-index: -2;
}
.Contact{
  font-size: 20px;
  text-align: center;
  background-color: #00BFFF;
  color:white;
  padding: 30px;
}
.wa-button{
  position: fixed;
  bottom: 15px;
  right: 15px;
  border: none;
  border-radius: 50%;
  height: 7vh;
  width: 7vh;
}
.wa-img{
  height: 6vh;
}
.wa-contact{
  width: 150px;
  height: 60px;
  border-radius: 30px;
  color: white;
  font-size: 10px;
  background-color: #2BB140;
  border: 1px solid white;
}
/* contact.html */
.Contact-form-section{
  margin: 100px;
  display: flex;
  justify-content: center;
}
.Contact-form{
  width: 600px;
  height: 750px;
  border-radius: 30px;
  background-color: #00BFFF;
  box-shadow: 10px 10px 10px lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-area{
  border:1px solid lightgrey;
  padding: 15px;
  border-radius: 15px;
  width: 250px;
}
.msg-area{
  border:1px solid lightgrey;
  padding: 15px;
  border-radius: 15px;
  width: 350px;
}
.submit{
  font-family: 'Exo 2', sans-serif;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 30px;
  font-size: 25px;
  margin-top: 25px;
  width: 120px;
}
